[Unit]
Description=SwarmTurret
After=network.target

[Service]
WorkingDirectory=/home/pi/swarm-turret
ExecStart=/home/pi/swarm-turret/.venv/bin/python app.py
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
